[push]
    default = current
[pull]
    rebase = true
[rebase]
    autoStash = true
[fetch]
    prune = true
[init]
    defaultBranch = main
[include]
    path = ~/.gitconfig.local
[core]
    editor = nvim
[http]
    postBuffer = 524288000
[merge]
    tool = nvim -d
[protocol "file"]
    allow = always
