[alias]
	amend = commit -a --amend
	default = !git branch -rl '*/HEAD' | awk -F/ '{print $NF}'
	b = !git branch | fzf | sed 's/\\* //g' | xargs -I '{}' git checkout {}
	bc = !git branch --merged ${1-$(git default)} | grep -v " ${1-$(git default)}$" | xargs git branch -d
	stat = !git status -s
	cp = "!f() { \
		if [[ $(echo "$1" | commitlint; echo $?) == 0 ]]; \
		then git commit -m \"$1\" && git push origin; \
		else echo "$1" | commitlint; fi \
		}; f"
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[core]
	editor = code --wait
[http]
	postBuffer = 524288000
